<div class="search_bar">
  <%= form_tag books_path, method: :get do %>
    <fieldset role="group">
      <%= text_field_tag :search, params[:search], placeholder: "Rechercher un livre" %>
      <%= submit_tag "Rechercher" %>
    </fieldset>
  <% end %>
</div>

<% @books.each do |book| %>
  <div class="book_card">
    <ul>
      <li>
        <div class="title"><%= link_to book.title, book %></div>
        <div class="author"><%= book.author %></div>
        <div class="publish-year"><%= book.publish_year %></div>
      </li>
    </ul>
  </div>
<% end %>

