<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
<div class="book_info">
  <h1><%= @book.title %></h1>
  <p>Author: <%= @book.author %></p>
  <p>Publish date: <%= @book.publish_year %></p>
  <% if logged_in? && current_user %>
    <% if !@book.available? && !@can_end_borrow%>
      <% borrow = current_user.borrows.where(book_id: @book.id).order(started_at: :desc).first %>
      <div class="button_book">
        <%= button_to "Rendre", borrow_path(borrow), method: :delete, class: "" %>
      </div>
    <% else if @book.available? %>
        <div class="button_book">
          <%= button_to "Emprunter", borrows_path(book_id: @book.id), method: :post, class: "" %>
        </div>
      <% else %>
        <p>Le livre n'est pas disponible actuellement.</p>
      <% end %>
    <% end %>
  <% end %>
</div>
