<body>

<nav>
  <ul class="nav_name">
    <%= image_tag("logo.png", alt: "Logo", width: "60", height: "60") %>
    <li><strong><%= link_to "Biblioteca", root_path %></strong></li>
  </ul>
  <ul class="right_links_nav">
    <% if session[:user_id].nil? %>
      <li><a><%= link_to "S'inscrire", register_path %></a></li>
      <li><a><%= link_to "Se connecter", login_path %></a></li>
    <% else %>
      <li><a><%= link_to "Emprunts", borrows_path %></a></li>
      <li><a><%= link_to "Mes emprunts", user_borrows_borrows_path %></a></li>
      <li><a><%= link_to "Se déconnecter", logout_path, data: { turbo_method: :delete } %></a></li>
    <% end %>
  </ul>
</nav>

</body>